@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 253, 240, 213;
  --background-end-rgb: 253, 240, 213;
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Lenis smooth scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}